* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll; /* Ensures scrollbar is always visible */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  animation: fadeIn 0.5s;
}

html,
body,
#root {
  top: 0;
  left: 0;
  height: 100%;
}
